article {
	padding-top: 0;
}

article:nth-child(even) {
	background: #fff;
}

.search-sidebar {
	font-size: 14px;
}

.search-sidebar ul {
	padding: 0;
	margin: 5px 0;
}

.search-sidebar li {
	list-style: none;
}

.search-sidebar label {
	font-weight: normal;
}