.submissions-sidebar {
	padding: 0;
	list-style: none;
}

.submissions-sidebar li {
	position: relative;
	padding: 10px 30px 10px 10px;
	font-size: 18px;
	cursor: pointer;
}

.submissions-sidebar li.active {
	font-weight: bold;
}

.submissions-sidebar li.active,
.submissions-sidebar li:hover {
	background: #eee;
}

.submissions-sidebar li.active:after {
	content: "\f0a9";
	position: absolute;
	right: 10px;
	font-family: FontAwesome;
	color: #444;
}

.submissions-sidebar li.complete {
	padding-left: 30px;
	color: #5cb85c;
}

.submissions-sidebar li.complete:before {
	content: "\f00c";
	position: absolute;
	left: 10px;
	font-family: FontAwesome;
	color: #5cb85c;
}

.submissions-slides {
	transition: all .35s ease-in-out;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 40px;
	position: relative;
	font-size: 0;
}

.submissions-slides .slide {
	transition: all .35s ease-in-out;
	font-size: 16px;
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

.submissions-slides button {
	margin-top: 20px;
	outline: none !important;
}

.submissions-spinner {
	display: none;
	line-height: 1;
}

/* =Tooltips
-------------------------------------------------------------- */
.dohp-tip {
	width: 14px;
	height: 14px;
	display: inline-block;
	position: relative;
	cursor: help;
	font-size: 16px;
	margin-left: 5px;
}

.dohp-tip:before {
	content: "\f059";
	font-family: FontAwesome;
	position: absolute;
	top: -5px;
	left: 0;
	color: #428bca;
}

.dohp-tip:hover:after {
	content: attr(data-tip);
	position: absolute;
	left: 20px;
	padding: 5px 10px;
	font-size: 12px;
	text-align: center;
	color: #fff;
	background: #222;
	border-radius: 5px;
	text-shadow: 0 0 5px #000;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	white-space: normal;
	line-height: 1.4;
	text-align: left;
	width: 200px;
	z-index: 999;
}

.dohp-tip.left:hover:after {
	left: auto;
	right: 20px;
}

.dohp-tip.wide:hover:after {
	width: 400px;
}


/* =File Upload
-------------------------------------------------------------- */
.progress {
	display: none;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}